/* Tabs*/
.bs-example{
  margin: 20px;
}
/* upload-image */
.custom-file
{
  margin-left:15px;
}
#output_image
{
 max-width:300px;
}
#plan_output_image
{
  max-width:300px;
}
.custom-site
{
  margin-top:20px !important;
}